*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: black;
    height: 14vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p{
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 2vw;
}

#marvel {
    height: 60%;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

#nome{
    height: 4vh;
    width: 30vw;
    font-size: 2vh; 
}

#button{
    height: 4vh;
    width: 8vw;
    margin-left: 1vw;
    background-color: black;
    color: red;
    border: 1px solid red;
}

#container-filme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    background-image: url(./Imagens/Fundo.jpg);
    background-attachment: local;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.filme{
    display: flex;
    flex-direction: row;
    width: 74vw;
    background-color: black;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    border-radius: 20px;
}

.filme p{
    display: none;
}

.poster{
    width: 20%;
    height: 6%;
    padding: 2%;
    margin-right: 5%;
    border-radius: 20px;
}

.bloco{
    display: flex;
}

.titulo{
    width: 10em;
    font-family: arial;
    text-align: center;
    justify-items: center;
    padding-left: 10px;
    font-size: 2.2vw;
    margin-top: 9%;
    color: white;
}

.trailer{
    display: flex;
    color: white;
    font-size: 1.9vw;
    margin-bottom: 1vh;
    margin-left: 6.5vw;
}

.linkDisney{
    display: flex;
    height: 30%;
    width: 90%;
    margin-bottom: 4%;
    margin-top: 5%;
}

.assista{
    margin-top: 8%;
    font-size: 120%;
}

.logo{
    display: flex;
    height: 3.3em;
    width: 5.2em;
    margin-left: 1vw;
}

ul{
    width: 100%;
    height: 100%;
    font-family: arial;
    font-size: 1.6vw;
    margin-left: 5vw;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    bottom: 0;
    position: relative;
}

footer img{
    display: flex;
    height: 10%;
    width: 10%;
    margin-left: 45%;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    header{
        height: 12vh;
    }
    
    header p{
        font-size: 2.5vw;
    }

    #marvel {
        height: 50%;
    }

    .input{
        height: 3vh;
        width: 80vw;
        margin: 2vh;
    }
    
    #nome{
        height: 2.5vh;
        font-size: 1.4vh;
    }

    #button{
        height: 3vh;
    }

    .filme{
        width: 72vw;
    }

    .poster{
        width: 30%;
        height: 10%;
        padding-left: 3%;
    }

    .bloco{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 2.2vh;
    }

    ul{
      width: 90%;
      font-size: 1.8vw;
    }
    
    .titulo{
        width: 15em;
        padding-left: 0;
        font-size: 2.6vw;
        margin-top: 0;
        color: white;
    }

    .linkDisney{
        display: flex;
        height: 30%;
        width: 90%;
        margin-bottom: 5%;
        margin-top: 4%;
    }
    
    .trailer{
        display: flex;
        color: white;
        font-size: 2vw;
        margin-bottom: 5%;
        margin-left: 22%;
        margin-top: 1%;
    }
}

@media screen and (max-device-width: 767px) {

    header{
        height: 10vh;
    }

    #marvel {
        height: 40%;
    }

    #nome{
        height: 3vh;
        font-size: 2vh;
        width: 40vw;
    }

    #button{
        height: 3vh;
        width: 18vw;
        font-size: 1.5vh;
    }
    
    header p{
        font-size: 4vw;
    }

    .filme{
        flex-direction: column;
        width: 63%;
        padding-bottom: 3%;
        padding-top: 1%;
    }
    
    .poster{
        width: 70%;
        padding-left: 6%;
    }
    
    .bloco{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
    
    .titulo{
        width: 70%;
        font-size: 4vw;
        margin-top: 5%;
    }
    
    ul{
        width: 90%;
        font-size: 2.6vw;
        margin-left: 8vw;
        margin-right: 1vw;
    }

    .trailer{
        display: flex;
        color: white;
        font-size: 3vw;
        margin-bottom: 1vh;
        margin-left: 22%;
        margin-top: 1%;
    }

    .linkDisney{
        display: flex;
        height: 30%;
        width: 90%;
        margin-bottom: 4%;
        margin-top: 4%;
        margin-left: 6%;
    }
}
